@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

.map-content-card{
  border: 1px solid #3f3f3f;
}

.map-content-card:hover{
  border: 1px solid #f0f0f0;
}
